html[data-night='night'] body {--background:rgbg(0,0,0,0);
--box-shadow: -5px 0px 10px 1px rgba(255, 255, 255,0.8),/*左*/ 0px -5px 10px 1px rgba(255, 255, 255,0.8),/*上*/ 5px 0px 10px 1px rgba(0, 0, 0,0.1),/*右*/ 0px 5px 10px 1px rgba(0, 0, 0,0.1);
 }
.joe_header__slideout-author .avatar {box-shadow:2px 2px 2px 2px rgb(66 226 67 / 22%)}
.joe_header__slideout.active {background-image: linear-gradient(45deg, hsl(303,85%,78%) 0%, hsl(303,85%,78%) 12.5%,hsl(348,85%,78%) 12.5%, hsl(348,85%,78%) 25%,hsl(33,85%,78%) 25%, hsl(33,85%,78%) 37.5%,hsl(78,85%,78%) 37.5%, hsl(78,85%,78%) 50%,hsl(123,85%,78%) 50%, hsl(123,85%,78%) 62.5%,hsl(168,85%,78%) 62.5%, hsl(168,85%,78%) 75%,hsl(213,85%,78%) 75%, hsl(213,85%,78%) 87.5%,hsl(258,85%,78%) 87.5%, hsl(258,85%,78%) 100%);;background-size: 100% 100%;
    background-attachment: fixed;}
.joe_header__slideout-image {width: 0%;
    height: 0px;}
html[data-night='night'] body::before {background: rgba(0,0,0,0);
background-image: url(https://cdn.jsdelivr.net/gh/fjl2496627108/pictures@6a0f8fc6085296cc420cd83521b77c6819fd6dfa/2021/05/16/3cb88ae881674710a876388efe5111d2.png);
    background-size: 100% 100%;}
